*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 30px;
    min-height: 100vh;
    background:rgb(54, 25, 5);
    color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
}
section{
    background:rgb(99, 55, 4);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
p{
    font-size: 57px;

}
.OI{
    border-radius: 8px;
    background-color:rgba(69, 66, 104, 0.507);
    color: whitesmoke;
}